<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traditional Game</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark bg-transparant position-absolute w-100 navbar-collapse">
        <div class="container">
            <a class="navbar-brand p-3" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">WORK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" >ABOUT ME</a>
                </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">SIGN UP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LOGIN</a>
                </li>
            </div>
        </div>
    </nav>

    <div class="container-fluid p-0">

        <section class="main-header bg-main-header">
            <div class="container">
                <div class="row">
                    <div class="col-12 m-auto text-center py-xl-8">
                            <h1 class="display-4 mb-3">PLAY TRADITIONAL GAME</h1>
                            <h3>Experience new traditional game play</h3>
                            <button class="btn btn-lg"><a href="/gameplay" style="text-decoration: none; 
                            color:black;">PLAY NOW</a></button>
                                
                            <div class="the_story">
                                <p>THE STORY</p>
                                <img src="./img/scroll-down.svg" class="img-fluid" alt="">
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-gallery bg-image-gallery">
            <div class="slider p-5">
                <div class="row">
                    <div class="col-4">
                        <div class="d-flex flex-column">
                            <p>What's so special?</p>
                            <h1>THE GAMES</h1>
                        </div>
                    </div>
                    <!-- <div class="row"> -->
                        <div class="col-8">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="./img/blankimage.jpg" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </section>

        <section class="game-features bg-image-feature">
            <div class="title-feature">
                <div class="row">
                    <div class="col-6">
                        <div class="d-flex flex-column title-feature1">
                            <p>What's so special?</p>
                            <h1>FEATURES</h1>
                            <div class="col-md-9 ">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        TRADITIONAL GAMES
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                        If you miss your childhood, we provide many traditional games here
                                        </div>
                                    </div>
                                    </div>
                                    <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        GAME SUIT
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                        <strong>This is the second item's accordion body.</strong>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        TBD
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                        <strong>This is the third item's accordion body.</strong>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                    <div class="col-md-6 "></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="system-req bg-image-system">
            <div class="container system-requirement">
                <p class="text-center">Can My Computer Run this game?</p>
                <div class="row">
                    <div class="col-6 d-flex flex-column">
                        <div class="title-system">
                            <h1>SYSTEM</h1>
                            <h1>REQUIREMENTS</h1>
                        </div>
                        <div class="col-4 col-md-5 tabel">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><h4>OS:</h4><h6>Windows 7 64-bit only(No OSX support at this time)</h6></td>
                                        <td><h4>PROCESSOR:</h4><h6>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @2.8 GHZ</h6></td>
                                    </tr>
                                    <tr>
                                        <td><h4>MEMORY:</h4><h6>4GB</h6></td>
                                        <td><h4>storage:</h4><h6>8GB available space</h6></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>GRAPHICS:</h4><h6>NVIDIA GeForce GTX 660 2GB 
                                            or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h6></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-6"></div>
                </div>
                </div>
        </section>

        <section class="press-quotes bg-image-press">
            <div class="container score">
                <div class="row">
                    <div class="col-md-6  my-5 px-3 ">
                        <div class="mt-30">
                            <h1 class="h1 mb-4">TOP SCORES</h1>
                            <p class="my-4">This top score from various games provide on this platform</p>
                            <button class="btn btn-lg">see more</button>
                        </div>
                    </div>
                    <div class="col-md-6 my-1">
                        <div class="mt-5 d-flex flex-column gap-2">
                            <div class="card align-self-end" style="background: rgba(255, 255, 255, 0.08);
                            border-radius: 10px; width: 70%;">
                                <div class="row m-1 p-2">
                                    <div class="col-3">
                                        <div class="avatar shadow rounded">
                                            <img src="./img/evan-lahti.jpg" class="avatar-img rounded-circle">
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-7 ">
                                        <h6 class="nama">Evan Lahti</h6>
                                        <p>PC gamer</p>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="./img/twitter-card.png" alt="">
                                    </div>
                                    <p class="mt-1">"One of my gaming highlights of the year."</p>
                                    <p style="font-size: 14px;">June 18, 2021</p>
                                </div>
                            </div>
                            <div class="card" style="background: rgba(255, 255, 255, 0.08);
                                border-radius: 10px; width: 70%;">
                                <div class="row m-1 p-2">
                                    <div class="col-3">
                                        <div class="avatar shadow rounded">
                                            <img src="./img/jada-griffin.jpg" class="avatar-img rounded-circle" style="height: 50%; width:80%">
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-7 ">
                                        <h6 class="nama">Jada Griffin</h6>
                                        <p>Nerdreactor</p>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="./img/twitter-card.png" alt="">
                                    </div>
                                    <p class="mt-1">"The next big thing in the world of streaming and survival
                                        games."</p>
                                    <p style="font-size: 14px;">July 10, 2021</p>
                                </div>
                            </div>
                            <div class="card align-self-end" style="background: rgba(255, 255, 255, 0.08);
                                border-radius: 10px; width: 70%;">
                                <div class="row m-1 p-2">
                                    <div class="col-3">
                                        <div class="avatar shadow rounded">
                                            <img src="./img/aaron-williams.jpg" class="avatar-img rounded-circle" style="height: 50%; width:80%">
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-7 ">
                                        <h6 class="nama">Aaron Williams</h6>
                                        <p>Uproxx</p>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="./img/twitter-card.png" alt="">
                                    </div>
                                    <p class="mt-1">"Snoop Dogg Playing The Wildly Entertaining
                                        'SOS' Is Ridiculous."</p>
                                    <p style="font-size: 14px;">December 24, 2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Subscribe + footer -->
        <section class="subs-footer bg-image-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="gambar d-flex justify-content-center" style="margin-top: 20vh;">
                            <img src="./img/skull.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex flex-column justify-content-center">
                        <h6 style="font-weight: 400; font-family: 'Arial';">Want to stay in touch?</h6>
                        <h1 >NEWSLETTER SUBSCRIBE</h1>
                        <p>In order to start receiving our news, all you have to do is enter your email address. Everything 
                            else will be taken care of by us. We will send you emails containing information about game. 
                            We don’t spam.</p>
                        <div class="row">
                            <form class="form-floating col-md-6">
                                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com"
                                value="youremail@binar.co.id" style="background: rgba(255, 255, 255, 0.08); color:#FFB548;
                                border-radius: 4px;">
                                    <label for="floatingInputValue" style="color: white;">Your email address</label>
                            </form>
                                <div class="col-md-6">
                                <button class="btn btn-md">Subscribe now</button>
                            </div>
                        </div>    
                    </div>
                </div>
                <footer>
                    <div class="container mt-2">
                        <div class="row">
                            <div class="col-md-8">
                                <ul class="navbar-nav d-flex flex-row gap-4 justify-content-end align-items-center">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#" 
                                        style="color: white; font-weight: 700; font-family: 'Open Sans'; 
                                        letter-spacing: 0.1em; font-size: 12px;">MAIN</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" style="color: white; font-weight: 700; font-family: 'Open Sans'; 
                                        letter-spacing: 0.1em; font-size: 12px;" >ABOUT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" style="color: white; font-weight: 700; font-family: 'Open Sans'; 
                                        letter-spacing: 0.1em; font-size: 12px;" >GAME FEATURES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" style="color: white; font-weight: 700; font-family: 'Open Sans'; 
                                        letter-spacing: 0.1em; font-size: 12px;" >SYSTEM REQUIREMENTS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" style="color: white; font-weight: 700; font-family: 'Open Sans'; 
                                        letter-spacing: 0.1em; font-size: 12px;" >QUOTES</a>
                                    </li>
                                    </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="navbar-nav d-flex flex-row gap-5 justify-content-center align-items-center">
                                    <li class="nav-item">
                                        <img src="./img/facebook.svg" alt="">
                                    </li>
                                    <li class="nav-item">
                                        <img src="./img/twitter.svg" alt="">
                                    </li>
                                    <li class="nav-item">
                                        <img src="./img/vector.svg" alt="">
                                    </li>
                                    <li class="nav-item">
                                        <img src="./img/twitch.svg" alt="">
                                    </li>
                                    </ul>
                            </div>
                            <hr color="white" class="mt-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <p style="opacity: 0.5; font-family: 'Open Sans';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 19px; "> © 2018 Your Games, Inc. All Rights Reserved</p>
                                </div>
                                <div class="col-md-6">
                                    <ul class="navbar-nav d-flex flex-row gap-4 justify-content-end align-items-center">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#" 
                                            style="color: white; font-weight: 700; font-family: 'Open Sans'; 
                                            letter-spacing: 0.1em; font-size: 12px;">PRIVACY POLICY</a>
                                        </li>
                                        <li style="color: white; font-weight: 700; font-family: 'Open Sans'; 
                                        letter-spacing: 0.1em; font-size: 12px;" >|</li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" style="color: white; font-weight: 700; font-family: 'Open Sans'; 
                                            letter-spacing: 0.1em; font-size: 12px;" >TERMS OF SERVICES</a>
                                        </li>
                                        <li style="color: white; font-weight: 700; font-family: 'Open Sans'; 
                                        letter-spacing: 0.1em; font-size: 12px;" >|</li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" style="color: white; font-weight: 700; font-family: 'Open Sans'; 
                                            letter-spacing: 0.1em; font-size: 12px;" >CODE OF CONDUCT</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </footer>
            </div>
        </section>
    </div>



    
</body>
<script type="text/javascript" href="js/bootstrap.min.js" src="js/bootstrap.min.js"></script>  
</html>