<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Account</title>
</head>
<body>
    <form method="post" action="/api/user">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="name" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Date Of Birth</label>
            <input type="dateofbirth" class="form-control" id="exampleInputDOB1" placeholder="dateofbirth">
        </div>
        <div class="mb-3">
            <label for="exampleInputAddress1" class="form-label">Address</label>
            <input type="address" class="form-control" id="exampleInputAddress1" placeholder="address">
        </div>
        <div class="mb-3">
            <label for="exampleInputAddress1" class="form-label">username</label>
            <input type="username" class="form-control" id="exampleInputusername1" placeholder="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputAddress1" class="form-label">Address</label>
            <input type="address" class="form-control" id="exampleInputAddress1" placeholder="address">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
</body>
</html>