@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9C835F;
}

.header-nav h3{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    color: #F9B23D;
    line-height: 49px;
}

.header-nav .back-button{
    width: 35%;
    height: 10%;
}

.header-nav .logo{
    height: 50%;
    position: relative;
    left: -5%;
}

.game-play .batu{
    width: 20%;
}

.game-play .kertas{
    width: 15%;
}

.game-play .gunting{
    width: 18%;
}

.game-play .batu-comp{
    width: 20%;
}

.game-play .kertas-comp{
    width: 15%;
}

.game-play .gunting-comp{
    width: 18%;
}

.game-play .refresh{
    width: 5%;
}

.game-play .option{
    border: none;
    /* border: 1px solid black; */
    margin: 10px;
    width: 80%;
}

.game-play h3{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 49px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;
}

.area-player img{
    margin: 10px;
}

.area-computer img{
    margin: 10px;
}

.batu:hover, .kertas:hover, .gunting:hover{
    background: #C4C4C4;
    margin: 10px;
    padding: 2px;
    border-radius: 4px;
}
.batu, .kertas, .gunting {
    transition: .3s;
    position: relative;
    top:0;
    cursor: pointer;
}

.refresh{
    cursor: pointer;
}

/* .game-play .result{
    border: 2px solid black;
}
.game-play .player{
    border: 2px solid black;
}
.game-play .comp{
    border: 2px solid black;
} */

.game-play .vs {
    font-size: 88px;
    color: rgb(130, 8, 8);
    position: relative;
    left: 40%;
    width: 30%;
}

.game-play .img{
    position: relative;
    left: 8%;
    width: 15%;
    /* width: 10%; */
}